.site-layout {
  min-height: 100vh;
}

.site-header {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.site-layout-content {
  padding: 32px;
}

.ant-form-item-label > label {
  font-weight: bold;
}

.steps-action {
  margin: 24px 0;
}

.editor {
  padding: 16px 24px;
}